<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='aboutus.css') }}">
</head>
<body>
    <div class="about-section">
        <a href="{{ url_for('home') }}"><h2 style="text-align: left; color: blanchedalmond;">Back</h2></a>
        <h1>About Us </h1>
        <p>The team aims to develop a device that would detect electric anomalies that increases electric bills.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/static/images/raper.jpg" alt="Gio" style="width:300px">
            <div class="container">
              <h2>Giovanni Raper</h2>
              <p class="title">System Administrator</p>
              <p>He is a fomer challenger in league of legends</p>
              <p>qggraper@tip.edu.ph</p>
              <p>09976040160</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/static/images/alcantara.jpg" alt="vj" style="width:300px">
            <div class="container">
              <h2>Vher Jann` Alcantara</h2>
              <p class="title">System Administrator</p>
              <p>He is the bestfriendo of Arland Bindoy</p>
              <p>qvjalcantara@tip.edu.ph</p>
              <p>dkoalamnumbernya</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="/static/images/villareal.jpg" alt="ervie" style="width:300px">
              <div class="container">
                <h2>Ervie John Villareal</h2>
                <p class="title">System Administrator</p>
                <p>He is the main programmer for the team</p>
                <p>qejtvillareal@tip.edu.ph</p>
                <p>09653518716</p>
              </div>
            </div>
          </div>
      
        <div class="column">
          <div class="card">
            <img src="/static/images/panotes.jpg" alt="casey" style="width:300px">
            <div class="container">
              <h2>Johnell Casey Panotes</h2>
              <p class="title">Data Science</p>
              <p>He is the one that gathers data and the analitics of the team.</p>
              <p>qjcmpanotes@tip.edu.ph</p>
              <p>09502477045</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>