<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design of Anomaly Detection of Household Energy Consumption using Deep Learning</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
<section class="header">
        <nav>
            <a href="{{ url_for('main') }}"><img src=""></a>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('main') }}">HOME</a>></a></li>
                    <li><a href="{{ url_for('aboutus') }}">ABOUT</a>></a></li>
                    <li><a href="">CONTACT</a>></a></li>
                    <a href="{{ url_for('test') }}" class="signreg-btn">Login/Sign Up</a>
                </ul>
            </div>
        </nav>

<div class="text-box">
    <h1>Design of Anomaly Detection of Household Energy Consumption using Deep Learning</h1>
    <p>
        A device that can analyze and read the electric consumption of the home appliances,and a mobile application.
    </p>
    <a href="" class="hero-btn">View More</a>
</div>

</section>

<!----- objective ------>

<section class="objective">
    <h1>Objectives</h1>

    <div class="row">
        <div class="objective-col">
            <img src="static/images/prototype.png">
            <p>To design a prototype that can detect abnormal energy consumption based on faulty appliances, environment conditions, occupancy patterns and appliance consumption</p>
        </div>
        <div class="objective-col">
            <img src="static/images/mobileapp.png">
            <p>To design a mobile application that will display abnormal energy consumption , history of  energy usage and recommendation</p>
        </div>
        <div class="objective-col">
            <img src="static/images/test.png">
            <p>To test and evaluate the accuracy and reliabilty of the system</p>
        </div>
    </div>

</section>

<!---- Footer ---->

<section class="footer">
    <h1>About Us</h1>
    <div class="row">
        <div class="aboutus-col">
            <img src="static/images/alcantara.jpg">
            <h3>Vher Jann` Alcantara</h3>
            <p>System Administration</p>
        </div>
        <div class="aboutus-col">
            <img src="static/images/Panotes.jpg">
            <h3>Johnell Casey Panotes</h3>
            <p>Data Science</p>
        </div>
        <div class="aboutus-col">
            <img src="static/images/raper.jpg">
            <h3>Giovanni Raper</h3>
            <p>System Administration</p>
        </div>
        <div class="aboutus-col">
            <img src="static/images/villareal.jpg">
            <h3>Ervie John Villareal</h3>
            <p>System Administration</p>
        </div>
    </div>
    
</section>

</body>
</html>