<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/home/devasc/Desktop/midtermproject/Devasc-MidtermProject/static/login.scss">
    </head>
    <body>
        <center><a class="logo" href="index.html">Login<span class="span">Page</span></a></center>
        <div class="navbar">
            <div class="container">
                

                <nav>
                    <ul class="primary-nav">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    
                    <ul class="secondary-nav">
                        <li class="current"><a href="#">Login</a></li>
                        <li><a href="#">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <div>
                <label class="uname1" for="uname"><b>Username</b></label>
                <input type="text" placeholder="Username" name="uname" required>
            </div>

            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Password" name="psw" required>
            </div>
            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
        
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
    </body>
</html>