<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='regpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registration</title>
</head>
<body>
    
        <h2>Sign Up</h2>
            <p>
                  
                  <input id="Name" name="name_signup" type="text" placeholder="Name">
              </p>
              <p>
                  
                  <input id="Email" name="email_signup" type="text" placeholder="Email">
              </p>
              <p>
                  <input id="Password" name="password_signup" type="password" placeholder="Password">
                  <span>Enter a password longer than 8 characters</span>
              </p><br><br><br>
              <p><span style="color:red" id="error"></span></p>
              <p>
                  <input type="submit" name="create" value="Create My Account" onclick="regSubmit();">
              </p>
              <p>
                  <a href="{{ url_for('test') }}" class="button"> 
                    Already have an account?
                  </a>
              </p>
    
</body>
</html>
<script>
    function regSubmit(){
        var message;
        var customer_name = document.getElementById("Name").value;
        var customer_email = document.getElementById("Email").value;
        var customer_password = document.getElementById("Password").value;
        var error = document.getElementById("error");

        var data = [
            {"name": customer_name,
            "email": customer_email,
            "password": customer_password}
        ];

        $.ajax({
        type: "POST",
        url: "http://0.0.0.0:8080/createdAcc",
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            message = result.message;
            //console.log(message);
            if(message == "Successfully Registered"){
                window.location.href="http://0.0.0.0:8080/test";
           }
           else{
            error.innerHTML = message;
           }
        } 
        });   
    }
</script>