<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='test1.css') }}">
</head>
<body>
<section class="header">
    <nav>
        <div class="nav-links">
            <ul>
                <li><a href="#"> <button>Device Description</button> </a></li>
                <li><a href="{{ url_for('aboutus') }}"> <button>About Us</button> </a></li>
            </ul>
        </div>
    </nav>


<div class="login-form">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            
                <h1>Sign in</h1>
                <br>
                <br>
                <input type="email" name="email_login" id="Email" placeholder="Email" />
                <br>
                <br>
                <input type="password" name="pass_login" id="Password" placeholder="Password" />
                <br>
                <br>
                <span style="color:red" id="error"></span>
                <br><br><br>
                <a href="#">Forgot your password?</a>
                <br>
                <br>
                <button id="btn_signin" onclick="loginSumit();">Sign In</button>
                <br>
                <br>
                <a href="{{ url_for('register') }}" class="button"><button>
                    Sign Up</button>
                </a>
            
        </div>
    </div>
</div>
</section>

</body>
</html>
<script>
    function loginSumit(){
        var message;
        var customer_email = document.getElementById("Email").value;
        var customer_password = document.getElementById("Password").value;
        var error = document.getElementById("error");

        var data = [
            {"email": customer_email,
            "password": customer_password}
        ];

        $.ajax({
        type: "POST",
        url: "http://0.0.0.0:8080/login",
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            //console.log(jQuery().jquery);
            message = result.message;
            //console.log(message);
            if(message == "Welcome"){
                window.location.href="http://0.0.0.0:8080/home";
           }
           else{
            error.innerHTML = message;
           }
        } 
        });   
    }
</script>