<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Update Customer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='design.css') }}">

</head>
    <center>


<body>
        <h1>Update Customer</h1>
        <input type="text" name="id_update" id="id_update" value="" readonly/><br>
        <input type="name" name="name_update" id="name_update" placeholder="Name"/><br>
        <input type="email" name="email_update" id="email_update" placeholder="Email"/><br>
        <input type="password" name="password_update" id="password_update" placeholder="Password" /><br><br>
        <button type="button" onclick="updateCustomer();" class="button">Update</button><br>
        <a href="/test"> <button type="button" >Logout</button><br></a>
        <a href="/customers"> <button type="button" >Go to Customer</button><br></a>

</body>
</center>
</html>

<script>
    function updateCustomer(){
        var update_userid = '{{ user["customer_id"] }}';
        var customer_name = document.getElementById("name_update").value;
        var customer_email = document.getElementById("email_update").value;
        var customer_password = document.getElementById("password_update").value;

        var data = [
            {"name": customer_name,
            "email": customer_password,
            "password": customer_password}
        ];

        $.ajax({
        type: "PUT",
        url: "/updated/"+update_userid,
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            message = result.message;
            console.log(message);
            if(message == "User Updated"){
                window.location.href="/test";
           }
        } 
        });   
    }



</script>

<script type="text/javascript">
    var user_id ='{{ user["customer_id"] }}'
    document.getElementById("id_update").value = user_id;

    var user_name ='{{ user["customer_name"] }}'
    document.getElementById("name_update").value = user_name;

    var user_email ='{{ user["customer_email"] }}'
    document.getElementById("email_update").value = user_email;
 </script>