<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Update Customer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='design.css') }}">

</head>
<body>
<section class="header">
    <br><br><br><br>
    
<div class="update-form">
    <h1>Update Customer</h1>
    <b>ID</b>
    <input type="text" name="id_update" id="id_update" value="" readonly/><br>
    <b>Name</b>
    <input type="name" name="name_update" id="name_update" placeholder="Name"/><br>
    <b>Email</b>
    <input type="email" name="email_update" id="email_update" placeholder="Email"/><br>
    <b>Password</b>
    <input type="password" name="password_update" id="password_update" placeholder="Password" /><br><br>
    <p><span style="color:red" id="error"></span></p>
    <br>
    <div class="buttons">
        <button type="button" onclick="updateCustomer();" class="button1" >Update</button><br>
        <br><br>
        <a href="http://0.0.0.0:8080/customers" style="text-decoration: none;"> <button type="button" class="button3">Go to Customers</button></a>
        <a href="http://0.0.0.0:8080/test" style="text-decoration: none;"> <button type="button" class="button2">Logout</button><br></a>
    </div>
    <br><br>
</div>
</section>
        
</body>
</html>

<script>
    function updateCustomer(){
        if (confirm("You are automatically logging out. Do you want to continue?")) {
            var update_userid = '{{ user["customer_id"] }}';
            var customer_name = document.getElementById("name_update").value;
            var customer_email = document.getElementById("email_update").value;
            var customer_password = document.getElementById("password_update").value;
            var error = document.getElementById("error");

            var data = [
                {"name": customer_name,
                "email": customer_email,
                "password": customer_password}
            ];

            $.ajax({
            type: "PUT",
            url: "http://0.0.0.0:8080/updated/"+update_userid,
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                message = result.message;
                //console.log(message);
                if(message == "User Updated"){
                    window.location.href="http://0.0.0.0:8080/test";
            }
            else{
                error.innerHTML = message;
            }
            } 
            });

        }

           
    }



</script>

<script type="text/javascript">
    var user_id ='{{ user["customer_id"] }}'
    document.getElementById("id_update").value = user_id;

    var user_name ='{{ user["customer_name"] }}'
    document.getElementById("name_update").value = user_name;

    var user_email ='{{ user["customer_email"] }}'
    document.getElementById("email_update").value = user_email;
 </script>